
header{
    text-align: center;
  background-color: #1d3557;
  color: aliceblue;  
}

main{
    padding: 1em;
    background-color: #e5e5e5;
}

body{
    margin: 0%;
    background-image: url(../assignment/record.png);
    background-repeat: repeat;

}